body
{
<<<<<<< HEAD
    color:rgb(3, 59, 212);
=======
    color:rgb(223, 23, 23);
>>>>>>> cabecera
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera #tagline
{
    padding:2 0 0 1em;
    font-weight:400;
    font-size:.8em

}
#container
{
    width:90%;padding: 2px;;
    text-align:left;border:5px solid rgb(17, 1, 1);
    margin:0 auto
}

#container h1
{
    font-size:20px

}
#post
{
    padding:1em
}


